@{   
    ViewBag.Title = "Home Page";
   }
<div class="jumbotron">    
     <h1>REVA UNIVERSITY</h1> 
    </div> <div class="row">     
    <div class="col-md-4">         
    <h2>Welcome to REVA UNIVERSITY </h2>         
    <p>REVA University is established in Karnataka State under the Government of Karnataka Act 80 of the year 2012 and notified in the Karnataka Gazette dated 7th Feb,2013.REVA University offers 17 PG programs 1 PG Diploma programs and 8 Graduate programs in Engineering and Technology, Science, Commerce and Management in addition to research degrees leading to M Phil and PhD in different disciplines. </p>     
    </div>     
    <div class="col-md-4">         
    <h2>About Us</h2>        
     <p>Click the Link To know More</p>         
    <p>
        <a class="btn btn-default" href="http://reva.edu.in/"> Know More &raquo;</a>
        </p>     
    </div>     
    <div class="col-md-4">         
    <h2>Testimonials</h2>         
    <p>You can view from our website</p>         
    <p><a class="btn btn-default" href="http://reva.edu.in/About"> Click Here &raquo;</a></p>     
    </div> 
    </div> 